/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Italic;
    src: url('../fonts/Poppins/Poppins-Italic.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}


/*---------------------------------------------*/
@font-face {
    font-family: PlayfairDisplay-Regular;
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: PlayfairDisplay-Bold;
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf');
}

/*---------------------------------------------*/
@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

/* [data-page-version="dashboard"]  */
/* [data-page-version="admin"] body { */
[data-page-version="admin"] {
    margin: 0;
    /* font-family: 'poppins', sans-serif; */
    font-family: Poppins-regular;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    /* color: #7e7e7e; */
    /* text-align: left; */
    /* background-image: url("../images/yellow-bg-1920-1000.png"); */
    background-repeat: no-repeat;
    /* background-color: #fbfbfb; */
    /* background-color: #ffffeb; */
    /* background-color: white; */
    /* background-size: cover; */
    /* yellow-color: #fff200 */
}


/* [data-page-version="login"] body { */
[data-page-version="login"] {
    margin: 0;
    /* font-family: 'poppins', sans-serif; */
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #7e7e7e;
    text-align: left;
    /* background-color: red; */
    background-size: cover;
}



.login-row .login-half-round {
    background-color: #fff200;
    overflow: hidden;
    text-align: center;

    &.vertical {
        width: auto;
        height: 690px;

        &.right {
            border-radius: 0 100% 100% 0 / 0 100% 100% 0;
        }

    }

}

.login-row .login-half-round .login-half-round-content {
    font-size: 58px;
    font-weight: 500;
    display: block;
    margin-top: 220px;
}

.login-row .login-half-round .login-half-round-content>a {
    text-align: left;
    display: inline-block;
    line-height: 52px;
    text-decoration: none;
    color: brown;
    font-weight: 700;
}



.login-row .login-small-round {
    background-color: #fff200;
    overflow: hidden;
    text-align: center;
    /* &.vertical { */
    width: 400px;
    height: 400px;

    /* &.right { */
    transform: translate(-40%, -40%);
    border-radius: 50%;

    /* }

    } */

}

.login-row .login-small-round .login-small-round-content {
    display: block;
    margin-top: 60%;
    margin-left: 30%;
}

.login-row .login-small-round .login-small-round-content>a {
    text-align: left;
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
    color: brown;
    font-size: 32px;
    font-weight: 500;
}

@media (min-width: 992px) {
    .login-row .login-form-card {
        margin-top: 100px;
        display: block;
        padding-left: 50px;
        width: auto;
        margin-left: 300px;
    }
}


.login-hr {
    float: none;
    border: 1px solid grey;
    opacity: 0.1;
}


.login__submit {
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 26px;
    border: 1px solid #fff200;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-weight: 500;
    align-items: center;
    width: auto;
    background-color: #fff200;
    color: brown;
    /* box-shadow: 0px 1px 1px yellow; */
    cursor: pointer;
    transition: .2s;
    display: inline;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: brown;
    color: brown;
    outline: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Rounded menu */
/* .menu-link {
    height: 60px;
    width: 60px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.menu-icon {
    font-size: 10px;
    font-weight: 500;
    padding-top: 15px;
    color: white;
    display: flex;
    justify-content: center;
}

.menu-text {
    font-size: 12px;
    font-weight: 500;
    padding-top: 0px;
    color: brown;
    display: flex;
    justify-content: center;
} */

/*end Rounded menu */

.menu-link-active {
    border: 3px solid black;
}

.profile-div {
    /* height: 120px;
    width: 120px;
    background-color: #fff200;
    border-radius: 50%; */
    /* display: inline-block; */
}

.navMenu {
    font-size: 1rem;
    line-height: 1.5;
    /* margin-top: 20px; */
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    padding: 8px 15px;
    border-radius: 25px;
    border: 2px solid #fff200;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-weight: 400;
    align-items: center;
    width: auto;
    background-color: #fff200;
    color: brown;
    /* box-shadow: 0px 1px 1px yellow; */
    cursor: pointer;
    transition: .2s;
    display: inline;
}

.navMenu:active,
.navMenu-active,
.navMenu:focus,
.navMenu:hover {
    border-color: pink;
    /* border-bottom: 5px solid brown; */
    background-color: pink;
    color: brown;
    outline: none;
}

.navMenu-dropdown {
    font-size: 12px;
    line-height: 3.5;
    /* margin-top: 20px; */
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    padding: 8px 15px;
    border-radius: 25px;
    border: 2px solid #fff200;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-weight: 400;
    align-items: center;
    width: auto;
    background-color: #fff200;
    color: brown;
    /* box-shadow: 0px 1px 1px yellow; */
    cursor: pointer;
    transition: .2s;
    display: inline;
}

.navMenu-dropdown:active,
.navMenu-dropdown-active,
.navMenu-dropdown:focus,
.navMenu-dropdown:hover {
    border-color: pink;
    /* border-bottom: 5px solid brown; */
    background-color: pink;
    color: brown;
    outline: none;
}


.view__btn {
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 26px;
    border: 1px solid #fff200;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-weight: 500;
    align-items: center;
    width: auto;
    background-color: #fff200;
    color: brown;
    /* box-shadow: 0px 1px 1px yellow; */
    cursor: pointer;
    transition: .2s;
    display: inline;
}

.view__btn:active,
.view__btn:focus,
.view__btn:hover {
    border-color: brown;
    color: brown;
    outline: none;
}


.logo-div {
    display: flex;
    /* width: 150px; */
    width: 100px;
    margin-left: 15px;
    justify-content: space-between;
}

.bell-div {
    width: 200px;
    /* position: absolute; */
}

.bell-dropdown {
    border: 1px solid yellow;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    /* position: absolute; */
}

.bell-dropdown li {
    border-bottom: 1px solid yellow;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
}

.bell-dropdown li a {
    color: brown;
    text-decoration: none;
}

.bell-dropdown li a:hover {
    color: blue;
    text-decoration: none;
}


.profile-div .profile-logo {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: inline-block;
    position: relative;
}

/* borders */

.border-1-brown {
    border: 1px solid brown;
}

.border-2-brown {
    border: 2px solid brown;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-25 {
    border-radius: 25px;
}

.border-radius-50 {
    border-radius: 50px;
}

.border-radius-75 {
    border-radius: 75px;
}

.border-radius-100 {
    border-radius: 100px;
}

.border-radius-125 {
    border-radius: 125px;
}

.border-radius-150 {
    border-radius: 150px;
}


.content-div {
    border-radius: 25px;
    /* border: 1px solid #FFF200; */
    padding: 15px;
    /* height: 600px; */
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* Colors */

.alert-success,
.jewell-bg-color {
    background-color: #FFF200;
}

.jewell-color {
    color: #FFF200;
}


.bg-pink,
.alert-danger,
.bg-color1 {
    /* background-color: pink;
     */
    background-color: orange
}

.bg-color2 {
    background-color: #ffd700;
}

.bg-color3,
.ribbon-wrapper .active {
    background-color: #00ff7f;
}

.bg-color4 {
    background-color: #00ffff;
}

.bg-green,
.bg-color5 {
    background-color: #00ff00;
}

.bg-color6 {
    background-color: #fff68f;
}

.bg-white {
    background-color: #fff;
}

.bg-crimson-red {
    background-color: #990000;
}

.bg-cherry-red,
.ribbon-wrapper .deactive {
    background-color: #c24641;
}

.bg-blood-red {
    background-color: #660000;
}

.bg-deep-red {
    background-color: #800517;
}

.bg-red {
    background-color: red;
}

.bg-orange {
    background-color: orange;
}

.bg-fb-blue {
    background-color: #4267B2;
}

.bg-grey {
    background-color: grey;
}

/* color */

.fb-blue {
    color: #4267B2;
}

.light-coral {
    color: lightcoral;
}

.light-orange {
    color: #FFD580;

}

.black {
    color: black;
}

.white {
    color: white;
}

.brown {
    color: brown;
}

.pink {
    color: pink;
}

.grey {
    color: grey;
}

.light-green {
    color: #00ff7f;
}

.green {
    color: green;
}

.silver {
    color: #c0c0c0;
}

.color4 {
    color: #00ffff;
}

.red,
.error {
    color: red;
}

.light-red {
    /* color: #FFCCCB; */
    color: #FF7F7F;
}

input:read-only {
    background-color: lightgray;
}


/* @media only screen and (max-width: 1300px) {
    body {
        background-image: url("../images/yellow-bg-1300-1000.png");
    }
}

@media only screen and (max-width: 991px) {
    body {
        background-image: url("../images/yellow-bg-991-1000.png");
    }
}

@media only screen and (max-width: 767px) {
    body {
        background-image: url("../images/yellow-bg-767-1000.png");
    }
}

@media only screen and (max-width: 720px) {
    body {
        background-image: url("../images/yellow-bg-720-1000.png");
        background-size: 100% 100%;
    }
}

@media only screen and (max-width: 653px) {
    body {
        background-image: url("../images/yellow-bg-600-1000.png");
        background-size: 100% 100%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-image: url("../images/yellow-bg-500-1000.png");
        background-size: 100% 100%;
    }
}

@media only screen and (max-width: 396px) {
    body {
        background-image: url("../images/yellow-bg-400-1000.png");
        background-size: 100% 100%;
    }
} */




/* start Preloader */
/* Editable */
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background-color: #fff; */
    z-index: 1;
}

.sk-three-bounce {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 36px;
    /* background-color: white; */
}

.sk-three-bounce .sk-child {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    /* background-color: #2f4cdd; */
    /* background-color: #c28000; */
    background-color: yellow;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}


/* Pagination */
/* Editable */
#pagination {}

.pg-three-bounce {
    text-align: center;
}

.pg-three-bounce>i,
.pointer {
    cursor: pointer;
}

.pg-three-bounce .pg-child {
    padding: 0px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: yellow;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
}

.pg-three-bounce a.pg-child {
    text-decoration: none;
    color: brown;
}

.notextDecor {
    text-decoration: none;
}

.pg-three-bounce .pg-child.bg-white {
    cursor: unset;
}

.pg-three-bounce .pg-child.bg-clicked {
    background-color: greenyellow;
    /* border-color: white; */
    /* border: 1px solid; */
    cursor: unset;
}

.pg-three-bounce .pg-child:hover {
    background-color: goldenrod;
}

.pg-three-bounce .pg-child>span {
    line-height: 30px;
}

.pg-three-bounce button.pg-child {
    border: none;
    background-color: white;
}

.pg-three-bounce button.pg-child:disabled {
    background-color: white;
    cursor: unset;
}

.pg-three-bounce .pg-child>i {
    line-height: 30px;
    text-align: center;
    border: none;
    padding-left: 10px;
}


/* .pg-three-bounce .pg-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.pg-three-bounce .pg-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
} */

.form-control::placeholder {
    color: grey;
    opacity: 0.2;
    /* Firefox */
}

.input::placeholder {
    color: grey;
    opacity: 0.2;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: grey;
}



@-webkit-keyframes sk-three-bounce {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-three-bounce {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* End Preloader */




/* start StatusBar */
/* Editable */
#statusloader {
    position: fixed;
    top: 2%;
    right: 0%;
    left: 50%;
    bottom: 0%;
    height: 80px;

    /* width: 700px;
    height: 80px;
    left: 50%;
    right: 0%;
    top: 8%;
    bottom: 0%;
    border-radius:10px;
    border: 1px solid; */

    /* background-color: #fff; */
    z-index: 1;
    animation: righttoleft 1s 1;
    animation-direction: normal;
}

#statusloader .alertCustom {
    /* color: #ffffff;
    background-color: #FF8080; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    border-radius: 10em;
    border: 1px solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 700px;
}

@keyframes righttoleft {
    0% {
        left: 50%;
        right: 50%;
        bottom: 10%;
    }
}

.floatRight {
    float: right;
}

/* End StatusBar */


.tabDiv {
    /* margin-left: 10px;
    margin-top: 10px; */
}

.tabLink:hover {
    border: 2px solid brown;
    background-color: #FFF200;
    font-size: 14px;
}



.hide {
    display: none;
}

/* React Validate style */
.react-inputs-validation__error,
.error {
    color: red;
    text-transform: capitalize;
    font-weight: 400;
}

input[type=radio] {
    display: none;
}


/* Datetime Style */
.noborder,
.react-datetime-picker__wrapper {
    border: none !important;
}


.numberCircle {
    border-radius: 50%;
    width: 10px;
    height: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    position: relative;

    background: #fff;
    border: 1px solid #666;
    text-align: center;
}


/* imageFile */

.img-container {
    position: relative;
}

.img-drop-container {
    /* position: relative; */
    position: relative;
    display: flex;
    /* gap: 10px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    /* padding: 20px; */
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;

}

.img-drop-container:hover {
    background: #eee;
    border-color: #111;
}

.img-drop-container:hover .drop-title {
    color: #222;
}

.img-drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}


.empty-container {
    width: 1900px;
    height: 900px;
    border: 1px solid grey;
    border-radius: 8px;
}

.empty-img {
    width: 110px;
    height: 110px;
}

.img-file {
    width: 110px;
    height: 110px;
    border-radius: 8px;
}

.default-banner-file {
    width: 150px;
    height: 75px;
    border-radius: 8px;
}

.default-about-file {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.medium-file {
    width: 300px;
    height: 300px;
}

.banner-file {
    width: 500px;
    height: 250px;
}

.img-container .delete-btn {
    position: absolute;
    top: 100px;
    left: 102px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 8px;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.img-container .banner-delete-btn {
    position: absolute;
    top: 235px;
    left: 485px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 8px;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.img-container .feature-delete-btn {
    position: absolute;
    top: 290px;
    left: 290px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 8px;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.img-container .preview-btn {
    position: absolute;
    top: 90px;
    left: 12px;
    color: yellow;
    font-size: 20px;
    text-align: center;
}

.img-container .select-btn {
    position: absolute;
    top: 50px;
    left: 140px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.img-container .select-btn:hover {
    color: green;
}

.img-container .feature-btn {
    position: absolute;
    top: 280px;
    left: 15px;
    color: yellow;
    font-size: 20px;
    text-align: center;
}

.img-container .banner-btn {
    position: absolute;
    top: 230px;
    left: 12px;
    color: yellow;
    font-size: 20px;
    text-align: center;
}

.img-container .view-btn {
    position: absolute;
    top: 180px;
    left: 12px;
    color: yellow;
    font-size: 20px;
    text-align: center;
}



.img-container .worker-preview-btn {
    position: absolute;
    top: 55px;
    left: 12px;
    color: yellow;
    font-size: 15px;
    text-align: center;
}

.img-container .delete-btn:hover {
    background-color: black;
}


select-btn .created_at {
    color: silver;
    font-size: 10px;
    font-weight: 400;
}

/* ribbon */
.ribbon-wrapper {
    /* width: 80px; */
    width: auto;
    height: 35px;
    overflow: hidden;
    position: absolute;
    bottom: -3px;
    left: -0px;
}

.ribbon-green {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    text-align: center;
    /* text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    /* position: relative; */
    padding: 7px 7px;
    left: 3px;
    top: 56px;
    /* width: 100px; */
    border-radius: 5px;
    /* background-color: #8dc735; */
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#8dc735), to(#649a12));
    background-image: -webkit-linear-gradient(top, #8dc735, #649a12);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45); */
    color: #fff;
    /* -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); */
}



/* Font size Custom */
.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}

.fs-8 {
    font-size: 8px;
}

.fs-6 {
    font-size: 6px;
}


/* width */

.wd-25 {
    width: 25px;
}

.wd-30 {
    width: 30px;
}

.wd-300 {
    width: 400px;
}

.maxw-60 {
    max-width: 60%;
}

.maxw-40 {
    max-width: 40%;
}

/* margins */
.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-125 {
    margin-top: 125px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-180 {
    margin-top: 180px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-230 {
    margin-top: 230px;
}

.mt-240 {
    margin-top: 240px;
}

.mt-250 {
    margin-top: 250px;
}

.mt-300 {
    margin-top: 300px;
}

.mt-400 {
    margin-top: 400px;
}

.mt-450 {
    margin-top: 450px;
}

.mt-500 {
    margin-top: 500px;
}

.ml-350 {
    margin-left: 350px;
}

/* Card */
.card {
    width: 25rem;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: brown;
    font-weight: 600;
}

.card .card-body {
    padding: 5px;
}

.card .card-body .card-image {
    padding: 10px;
}

.card .card-body .card-image .card-profile-image {
    width: 100px;
    height: 100px;
}

.card .card-body .card-content {
    margin: 8px;
    width: 100%;
}

.card .card-body .card-content a i:hover {
    color: blue;
}

.worker-profile-image {
    width: 60px;
    height: 60px;
}

.view-profile-image {
    /* background; */
    width: 200px;
    height: 200px;
}

.gender-profile-image {
    width: 50px;
    height: 50px;
}

/* login card */
.login-card {
    width: 25rem;
    padding: 20px;
}

.login-card-header {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}


.fa-class {
    width: 25px;
    text-align: center;
    font-size: 16px;
    padding-left: 5px;
}


.badge-wrapper {
    position: relative;
}

.badge {
    position: absolute;
    top: 0;
    right: -3px;
    display: inline-block;
    width: 5px;
    height: 5px;
    font-size: 12px;
    font-weight: 600;
    color: brown;
    /* border-radius: 50%;
    background-color: #ddd; */
}



/* mobile */
@media (max-width: 992px) {
    .login-row .login-form-card {
        margin-top: 20px;
        display: block;
        /* padding-left: 50px; */
        width: auto;
    }

    .view-profile-image {
        /* background; */
        width: 100px;
        height: 100px;
    }
}